body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(-45deg, #000000,#7a5e22, #000000, #7a5e22);
    /* background: linear-gradient(-45deg, #1f1c2c, #928dab, #1f1c2c, #928dab); */
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  color: white;
}

/* Background animation */
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  min-height: 100vh;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 500px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  animation: fadeInDown 1.5s ease;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  animation: fadeIn 2s ease;
}

.btn {
  display: inline-block;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  color: white;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 30px;
  text-decoration: none;
  animation: fadeInUp 2s ease;
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

/* Floating image */
.hero-img {
  max-width: 400px;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
}

/* Fade animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-30px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero-img {
  max-width: 100%;
  height: auto;
  animation: float 4s ease-in-out infinite;
}

}
